<html>
<head>
    <link rel="stylesheet" herf="/css/styles.css">
    <style>
    body{
        font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Gorgia;
        text-decoration : none;
        padding: 16px;
        margin: 0 auto;
    }
    h1{
        font-family:"Tangerine",monospace
         
    }
    footer{
        padding:15px;
        border-top: 1px solid #808080;
        color: grey
    }

    button{
        border-radius:5px;
        background-color : black;
        color:azure
    }
    input{

      border-radius:5px;
    }
    
    </style>
    
</head>
<body bgcolor="lavender">

    <h1><p1><b>{{title}}</b></p1></h1>
    <form>
        <input placeholder="location">
        <button>search</button>
    </form>
    <b>
        <p id="message-1">

        </p>
        <p id="message-2">

        </p>
    </b>
        <footer>created by {{name}}</footer>
        <script src=" /js/app.js"></script>
    
</body>
</html>